/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
	font-family: Life Savers;
	font-size: .5em;
}
h2 {
	font-family: Miniver;
}
p {
	font-family: Raleway;
	font-size: 1.1em;
}


ul li {
	font-family: Life Savers;
	font-size: 2.2em;
}
ul li:hover {
	color: #9600FA;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
#home {
	background-color: white
}
#home-row {
	margin-left: 40px;
}
#me_home {

}
#about-jumbo {
	background-color: #9BB258;
	text-align: center;
	padding: 30px;
	margin: 50px;
}
p span {
	font-family: Miniver;
	font-size: 2em;
	text-align: center;
}
#work-jumbo {
	background-color: #9BB258;
	text-align: center;
	padding: 30px;
	margin: 50px;
}
#contact-jumbo {
	background-color: #9BB258;
	text-align: center;
	padding: 30px;
	margin: 50px;
}
#carousel-about {
	max-width: 300px;
	max-height: 400px;
}
#tweet {
	background-image: url(img/tweet.jpg);
}
#work-para {
	font-size: 1.4em;
}
#contact-info {
	position: relative;
	left: 50px;
}
form {
	margin-bottom: 20px;
}
#thanks {
	position: relative;
	top: 100px;
}
footer {
	font-family: Life Savers;
	font-size: 1.5em;
	background-color: #9BB258;
}